version: "3.9"

services:
  api:
    build: .
    ports:
      - "10000:10000"
    depends_on:
      - redis

  worker:
    build: .
    command: celery -A tasks worker --loglevel=info --concurrency=8
    depends_on:
      - redis

  redis:
    image: redis:7
    ports:
      - "6379:6379"
